
<html style="font-family: PTSans;">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Адмін панель</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/admin/style/style.css" rel="stylesheet" type="text/css">
<body  class="bg-light d-flex">
    <%- include('../admin_partials/panelNav'); %>
    <main class="">
      <div class="p-1 text-danger"><h5>Автоматичне нарахування </h5><h5 style="color: blue;"><%= errors%></h5></div>
      <div class="block-bg mw-100">

        <form method="post" onsubmit="return confirm('Ви впевнені, що хочете очистити маркування?')" action="/admin-panel-controll/auto-accurals-clear-marks"><button type="submit" class="btn btn-danger">Очистити маркування для нарахувань</button></form>
      
        <!-- <form method="post" onsubmit="return confirm('Ви впевнені, що хочете здійснити автоматичне нарахування')" action="/admin-panel-controll//auto-accurals-post"></form> -->
          <button type="submit" onclick="if(confirm('Ви впевнені, що хочете здійснити автоматичне нарахування')) autoAccuralStart();" class="btn btn-danger">Автоматичне нарахуваня</button>
          <div>Статус авто нарахувань: <div id="stustAuto"></div></div>
        </div>
     
    </div>

    </main>
    
    <script src='https://cdn.jsdelivr.net/npm/pdfmake@latest/build/pdfmake.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/pdfmake@latest/build/vfs_fonts.min.js'></script>
    <!-- html-to-pdfmake file: -->
    <script src="https://cdn.jsdelivr.net/npm/html-to-pdfmake/browser.js"></script>
    <script src="/admin/js/audit.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/js/scripts.js"></script>
    <script>
      function autoAccuralStart(){
        $('#stustAuto').html('Оікуйте.....')
        $.post("/admin-panel-controll//auto-accurals-post",
        {

        },
        function(data, status){
          alert('Нарахування завершені');
          $('#stustAuto').html('').append(`<a id="programatically" href="" download="date.txt">Завантажити звіт</a>`)
          
          $("a#programatically").click(function(){
      var now = new Date().toString();
      this.href = "data:text/plain;charset=UTF-8,"  + encodeURIComponent(data);
      });
        })
      }
 
    </script>
</body>
</html>