<div class="headerTop d-flex justify-content-around w-100 ">
    <div class="location d-flex align-self-center">
        <div >
            <a class="locationLink d-flex align-items-center" href="https://www.google.com/maps/place/Zavods'ka+St,+25,+Khmel'nyts'kyi,+Khmel'nyts'ka+oblast,+29000/@49.4185697,27.0127737,18.5z/data=!4m6!3m5!1s0x47320649a614402d:0x4c34b5d7da238158!8m2!3d49.4184275!4d27.013092!16s%2Fg%2F1tfw1t4j?entry=ttu">
                <svg xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15">
                    <path id="Forma_1" data-name="Forma 1" d="M255.74,23.733a4.512,4.512,0,0,0-.258-.6A5.4,5.4,0,0,0,250.426,20,5.269,5.269,0,0,0,245,24.653v.64c0,.027.01.266.024.387.2,1.493,1.453,3.08,2.39,4.573,1.008,1.6,2.054,3.173,3.09,4.746.639-1.027,1.275-2.067,1.9-3.066.17-.293.368-.587.538-.867.113-.186.33-.373.429-.546,1.008-1.733,2.63-3.48,2.63-5.2v-.707A5.052,5.052,0,0,0,255.74,23.733Zm-5.27,3.213a1.952,1.952,0,0,1-1.869-1.253,1.637,1.637,0,0,1-.053-.467v-.413a1.809,1.809,0,0,1,1.983-1.706,1.95,1.95,0,0,1,2.014,1.92A2,2,0,0,1,250.47,26.947Z" transform="translate(-245 -20)" fill="#f6a937"/>
                </svg>
                <span class="mx-1">Віньківці, Хмельницька обл</span>
            </a>  
        </div>
    </div>
    <div class="d-flex">
        <div class="phoneNumder px-3 d-flex align-self-center">
            <div class="d-flex align-items-center">
                <a class="phoneLink d-flex align-items-center" href="tel:+">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15">
                        <path id="Shape_1" data-name="Shape 1" d="M10.455,14.995A7.141,7.141,0,0,1,7.729,14.2,14.856,14.856,0,0,1,2.81,10.354a13.541,13.541,0,0,1-2.4-4,5.172,5.172,0,0,1-.4-2.226,1.807,1.807,0,0,1,.568-1.22c.381-.362.74-.74,1.114-1.108a1.058,1.058,0,0,1,1.589,0c.3.3.6.6.9.9s.581.581.871.874a1.056,1.056,0,0,1,0,1.626c-.365.368-.727.737-1.1,1.1a.23.23,0,0,0-.056.294,6.609,6.609,0,0,0,1,1.595,11.507,11.507,0,0,0,2.778,2.528c.23.143.487.25.727.381a.22.22,0,0,0,.306-.056c.365-.374.736-.743,1.108-1.111a1.051,1.051,0,0,1,1.589,0q.9.89,1.786,1.782a1.062,1.062,0,0,1-.006,1.616c-.337.341-.7.666-1.014,1.021A1.949,1.949,0,0,1,10.627,15Q10.542,15,10.455,14.995ZM9.7,5.288A3.971,3.971,0,0,0,7.423,4.154L7.586,3a5.172,5.172,0,0,1,4.373,4.242l-1.152.2A3.971,3.971,0,0,0,9.7,5.288Zm2.088-2.032a7.363,7.363,0,0,0-4.208-2.1L7.739,0A8.586,8.586,0,0,1,15,7.038l-1.152.2A7.355,7.355,0,0,0,11.784,3.255Z" fill="#f6a937"/>
                    </svg>
                    <span class="mx-1">+38(068)-38-409-79</span>
                </a>
            </div>
        </div>
        <div class="workTime d-flex align-self-center">
            <div class="workTimeLink " >
                <div class="d-flex align-items-center">
                    <svg id="Time" xmlns="http://www.w3.org/2000/svg" width="14.871" height="14.871" viewBox="0 0 14.871 14.871">
                        <path id="Shape_1" data-name="Shape 1" d="M761,18.128a7.436,7.436,0,1,0,7.436,7.436A7.436,7.436,0,0,0,761,18.128Zm3.215,8.85h-3.152c-.011,0-.021,0-.031,0s-.02,0-.031,0a.514.514,0,0,1-.514-.514v-5.25a.514.514,0,0,1,1.029,0V25.95h2.7a.514.514,0,0,1,0,1.028Z" transform="translate(-753.569 -18.128)" fill="#f6a937"/>
                        <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" d="M.79,7A.79.79,0,0,1,0,6.21C0,6.2,0,6.2,0,6.19s0-.013,0-.02V.83A.83.83,0,0,1,.831,0H.86a.83.83,0,0,1,.83.83V5.42H5.21A.79.79,0,0,1,5.21,7Z" transform="translate(6.431 1.872)" fill="#fff"/>
                    </svg>
                    
                   <span class="mx-1"> Пн-Чт 8.00-17.15, Пт 8.00-16.00</span>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="socialNetwoks d-flex align-self-center">
        <a href=""><img class="socialNetwoksImage" src="/images/telegram.png"></a>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light mx-4 headerNavbar">
    <a class="navbar-brand logo" href="/">КП "ВІНЬКОВЕЦЬКИЙ КОМУНСЕРВІС"</a>
    <button class="navbar-toggler" style="margin-right:5px !important;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup1" aria-controls="navbarNavAltMarkup1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup1">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Головна </a>
        <a class="nav-item nav-link" href="/news">Новини</a>
        <a class="nav-item nav-link" href="/tarifs">Тарифи</a>
        <a class="nav-item nav-link" href="#">Питання та відповіді</a>
        <a class="nav-item nav-link" href="/about">Про нас</a>
      </div>
    </div>
    <a href="/personal-account"><button type="button" class="btn " id="header-btn"><img class="personHeaderBtnImage" src="/images/personHeaderBtn.png">Особистий кабінет</button></a>
  </nav>