<nav class="d-flex flex-column p-2  nav-admin-panel bg-dark bg-gradient " >
    <h4 >Меню</h4>
    <div class="">
        <a href="/admin-panel-controll/main">
        <button type="button" class="btn btn-secondary">Головна</button></a>
    </div>
    <div class="">
        <a href="/admin-panel-controll/new-pers-ac">
        <button type="button" class="btn btn-secondary">Новий особовий рахунок</button></a>
    </div>
    <div class="">
      <a href="/admin-panel-controll/personal-accounts-news">
      <button type="button" class="btn btn-secondary">Новини особистого кабінету</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/news">
      <button type="button" class="btn btn-secondary">Новини сайту</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/telegram-news">
      <button type="button" class="btn btn-secondary">Розсилка новин Telegram</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/audit-payments">
      <button type="button" class="btn btn-secondary">Звірка по платежам</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/audit-readings">
      <button type="button" class="btn btn-secondary">Звірка по показникам</button></a>
    </div>
    
    <div class="">
      <a href="/admin-panel-controll/auto-accurals">
      <button type="button" class="btn btn-secondary">Автоматичне нарахування</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/payment-redirect">
      <button type="button" class="btn btn-secondary">Перенаправлення платежу</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/paymentAndReadingsFast">
      <button type="button" class="btn btn-secondary">Швидке заповнення платежі</button></a>
    </div>

    <div class="">
      <a href="/admin-panel-controll/readingsFast">
      <button type="button" class="btn btn-secondary">Швидке заповнення показники</button></a>
    </div>


  </nav>