<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Віньковецький комунсервіс</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" >
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="/style/main.css" rel="stylesheet" type="text/css">
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <h2 class="text-center mt-5" >ПУБЛІЧНА ОФЕРТА (пропозиція) до Публічного договору про надання послуг</h2>
        <div class=" persAc-main-container d-flex flex-column justify-content-center about">
                  
                <p>Комунальне підприємство "ВІНЬКОВЕЦЬКИЙ КОМУНСЕРВІС"
                    є виконавцем послуг
                      з централізованого водопостачання, водовідведення та вивезенням твердих побутових відходів</p>
                <p>Керуючись нормами частини 5 статті 13 Закону України «Про житлово-комунальні послуги», статтями 633, 634 Цивільного Кодексу України rомунальне підприємство "ВІНЬКОВЕЦЬКИЙ КОМУНСЕРВІС" пропонує фізичним особам, які є власниками (співвласниками, користувачами, орендарями) нерухомого майна, або за згодою власника іншим особам, які користуються об’єктом нерухомого майна (далі – Споживачам), отримувати послуги
                     шляхом приєднання до Публічного договору про надання послуг.</p>
                <p>З урахуванням статей 633, 634, 641, 642 Цивільного кодексу України, цей договір укладається сторонами шляхом приєднання Споживача до умов цього договору згідно з заявою-приєднанням або шляхом вчинення Споживачем дій, які засвідчують його бажання укласти договір (фактичне користування послугою, оплата за надану послугу та ін.).</p>
                <p>Розміщення даного Публічного договору на офіційному вебсайті комунального підприємства "ВІНЬКОВЕЦЬКИЙ КОМУНСЕРВІС" є публічною офертою (пропозицією) на адресу Споживачів.</p>
                <p>Публічний договір – це договір зі споживачем на надання йому будь-якої послуги, а публічність дає право на укладання цього договору відразу з усіма споживачами конкретної послуги без підписання письмового примірника Сторонами.</p>
                <p> Типовий індивідуальний договір про надання послуг з централізованого водопостачання набирає чинності з дня акцептування його споживачем, але не раніше ніж через 30 днів з моменту його опублікування.</p>
                <p>Договір вважається укладеним, якщо протягом 30 днів з дня опублікування тексту договору на офіційному сайті
                    комунального підприємства "ВІНЬКОВЕЦЬКИЙ КОМУНСЕРВІС Споживачі не уклали відповідний договір з комунальним підприємством.</p>
                
                <p>Споживачі, які фактично користуються послугами або звертаються до КП "ВІНЬКОВЕЦЬКИЙ КОМУНСЕРВІС" для отримання послуг, вважаються такими, що ознайомлені, погоджуються та приєднуються до умов публічного індивідуального договору.</p>
                <p>У зв’язку з тим, що даний Договір є договором приєднання, його умови не підлягають узгодженню зі стороною, що приєднується (споживачем).

 

                    Згідно статті 23 Закону України «Про житлово-комунальні послуги», Споживачі зобов’язані укласти договір про надання послуг з централізованого водопостачання.</p>

            </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script> 
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js">
	</script> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js">
	</script>
    	<script src="scripts/script.js">
        </script>
</body>
     
  
 